body{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .form {
    border: solid 2px;
    border-color: #0B59AC;
    margin-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    width: 560px;
    height: 600px;
}

.row {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.row_first {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.label {
    width: 25%;
    background-color: #59AC0B;
    border: solid 2px;
    border-color: #0B59AC;
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.label_gender {

    color: black;
    font-size: 20px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.column {
    width: 5%;
}

.input {
    width: 60%;
    border: solid 2px;
    border-color: #0B59AC;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.input1{
    margin-top: 20px;
}
.button {
    width: 25%;
    background-color: #59AC0B;
    border: solid 2px;
    border-color: #0B59AC;
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    text-align: center;
    margin-left: 220px;
    margin-top: 30px;
    margin-bottom: 70px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-top: 25px;
}

select {
    width: 35%;
    border: solid 2px;
    border-color: #0B59AC;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
option{
    width: 35%;
}
.span {
    color: red;

}
.alert{
    margin-left: 10px;
    margin-top: 10px;
    color : red;
    font-style: bold;
    font-size: 20px;
}
.success{
    margin-left: 10px;
    margin-top: 10px;
    color : green;
    font-style: bold;
    font-size: 20px;
}
.birth{
    width: 30.5%;
    border: solid 2px;
    border-color: #0B59AC;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
} 