body{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 234, 252);
}
.quiz {
    margin :auto;
    position: relative;
    display: block;
    width: 850px;
    padding-left: 40px;
}
.question{
    margin-bottom: 10px;
    font-size: 23px;
    border: solid 2px;
    border-color: white;
    border-radius: 5px;
    background-color: white;
    padding-left: 10px;
    padding-bottom: 5px;
}
h3{
    font-size: 1.75rem;
    margin: 0px;
}
h2{
    margin-top: 5px;
    margin-bottom:5px;
}
.button1{
    width: 120px;
    height: 50px;
    background-color: white;
    border: solid 2px;
    border-color: white;
    color: #1e91ca;
    font-size: 20px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    align-content: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

