body{
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.form {
    margin-top: 20px;
    margin-left: 100px;
    position: relative;
    width: 1000px;
}
.row {
    display: flex;

}
.label {
    width: 25%;
    color: black;
    font-size: 20px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    text-align: center;
}

select {
    width: 280px;
    height: 44px;
    border: solid 2px;
    border-color: #0B59AC;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input {
    width: 256px;
    height: 20px;
    border: solid 2px;
    border-color: #0B59AC;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    width: 150px;
    height: 60px;
    background-color: #1e91ca;
    border: solid 2px;
    border-color: #0B59AC;
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
.count{
    font-size: 20px;
    margin-bottom: -10px;
}
.button1{
    width: 120px;
    height: 50px;
    background-color: #1e91ca;
    border: solid 2px;
    border-color: #0B59AC;
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 750px;

}
td {
    text-align: left;
}
th{
  text-align: left;
}
tr{
    height : 55px;
}
.edit {
    background-color: #50ade7;
    color: white;
    width: 60px;
    height: 30px;
}
.delete{
        width: 80px;
        height: 60px;
        background-color: #1e91ca;
        border: solid 2px;
        border-color: #0B59AC;
        color: white;
        font-size: 20px;
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        text-align: center;
        margin-left: 270px;
        margin-top: 30px;
        margin-bottom: 70px;
        margin-right: 50px;
}